
<div class="pg-opt">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Kontakt</h2>
        </div>
    </div>
</div>
</div>
<section class="slice no-padding">

<div class="w-section inverse">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="section-title-wr pt-10">
              <h3 class="section-title left"><span>Formularz</span></h3>
          </div>
            <div ng-controller="ContactCtrl">
              <form ng-submit="submit(contactform)" name="contactform" class='form-light mt-20'>
                    <div class="form-group" ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
                        <label for="inputName">Name</label>
                            <input ng-model="formData.inputName" type="text" class="form-control" id="inputName" name="inputName" placeholder="Your Name" required>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group" ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
                            <label for="inputEmail">Email</label>
                                <input ng-model="formData.inputEmail" type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Your Email" required>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group" ng-class="{ 'has-error': contactform.inputNumber.$invalid && submitted }">
                            <label for="inputNumber">Numer</label>
                                <input ng-model="formData.inputNumber" type="text" class="form-control" id="inputNumber" name="inputNumber" placeholder="Wpisz numer telefonu" required>
                        </div>
                    </div>
                  </div>
                    <div class="form-group" ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
                        <label for="inputMessage">Message</label>
                            <textarea ng-model="formData.inputMessage" type="text" class="form-control" id="inputMessage" name="inputMessage" placeholder="Your Name" required></textarea>
                    </div>

                    <div class="form-group">
                            <button type="submit" class="btn btn-base" ng-disabled="submitButtonDisabled">
                                Send Message
                            </button>
                    </div>
                </form>
                <p ng-class="result" style="padding: 15px; margin: 0;">{{ resultMessage }}</p>
              </div>

          </div>
          <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="section-title-wr pt-10">
                                    <h3 class="section-title left"><span>Dane kontaktowe</span></h3>
                                </div>
                                <div class="contact-info">
                                  <h5><i class="fa fa-phone"></i> Telefon</h5>
                                  <p>+10 724 1234 567</p>

                                  <h5><i class="fa fa-envelope"></i> Email</h5>
                                  <p>hello@webpixels.ro</p>

                                  <h5><i class="fa fa-map-marker"></i> Adres</h5>
                                  <p>54-406 Wrocław, ul. Grecka 79</p>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="section-title-wr pt-10">
                                    <h3 class="section-title left"><span>Godziny pracy</span></h3>
                                </div>
                                <div class="contact-info">
                                    <h5><i class="fa fa-check"></i> Poniedziałek - Piątek</h5>
                                    <p>09:00 - 20:00</p>

                                    <h5><i class="fa fa-check"></i> Sobota</h5>
                                    <p>10:00 - 14:00</p>
                                </div>
                            </div>
                        </div>

        </div>
    </div>
  </section>
