<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="col">
                   <h4>Kontakt</h4>
                   <ul>
                        <li>Bruder & Dyja - kredyty hipoteczne</li>
                        <li></li>
                        <li>Telefon: 790 852 790</li>
                        <li>Email: <a href="mailto:biuro@bdfinanse.pl" title="Email Us">biuro@bdfinanse.pl</a></li>
                    </ul>
                 </div>
            </div>

            <div class="col-md-3">
            </div>

            <div class="col-md-3">
            </div>

            <div class="col-md-3">
                   <div class="col col-social-icons">
                       <h4>Napisz do nas</h4>
                       <a href="#"><i class="fa fa-facebook"></i></a>
                       <a href="#"><i class="fa fa-google-plus"></i></a>
                       <a href="#"><i class="fa fa-envelope"></i></a>
                   </div>
               </div>

        </div>
    </div>
</footer>
