<!-- MAIN CONTENT -->
  <div class="pg-opt">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Zespół</h2>
            </div>
        </div>
    </div>
</div>

<section class="slice white bb">
    <div class="wp-section">
        <div class="container">
            <div class="row">
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-12">
                    <p>
                      <span class="primary-letter style-3 base">W</span>
                       Bruder&Dyja wiemy, że najważniejsi są ludzie. To oni bezpośrednio będą kontaktować się z Państwem i to dzięki ich zaangażowaniu
                       Wasze sprawy zostaną załatwione dużo szybciej niż gdziekolwiek indziej. Właśnie dlatego prezentujemy sylwetki naszych doradców,
                       żebyście wiedzieli kto będzie Państwu doradzał i zajmował się Państwa sprawami. Nie stawiamy na ilość, nie awansujemy, trzon naszego zespółu stanowi
                       dwóch współwłaścicieli spółki, którzy bezpośrednio obsługują każdą sprawę. Nasze wieloletnie doświadczenie to tysiące pomyślnie zakończonych wniosków,
                       to nasza przewaga, której nie sposób przecenić.

                    </p>

                    <div class="section-title-wr">
                                <h3 class="section-title left"><span>Co zyskujesz ...</span></h3>
                            </div>
                    <div class="row">
                      <div class="col-md-4">
                        <ul class="list-check">
                          <li><i class="fa fa-check"></i> Najkorzystniejszą możliwą ofertę</li>
                              <li><i class="fa fa-check"></i> Wiedzę i doświadczenie</li>
                              <li><i class="fa fa-check"></i> Indywidualną ofertę przygotowaną pod kątem Twoich oczekiwać</li>
                              <li><i class="fa fa-check"></i> Vivamus semper odio in nibh ultricies</li>
                          </ul>
                      </div>
                      <div class="col-md-4">
                        <ul class="list-check">
                              <li><i class="fa fa-check"></i> Nam gravida magna vitae ante</li>
                              <li><i class="fa fa-check"></i> Duis rhoncus lectus at velit hendrerit</li>
                              <li><i class="fa fa-check"></i> Sed fringilla tempor arcu feugiat</li>
                              <li><i class="fa fa-check"></i> Vivamus semper odio in nibh ultricies</li>
                          </ul>
                      </div>
                      <div class="col-md-4">
                        <ul class="list-check">
                              <li><i class="fa fa-check"></i> Nam gravida magna vitae ante</li>
                              <li><i class="fa fa-check"></i> Duis rhoncus lectus at velit hendrerit</li>
                              <li><i class="fa fa-check"></i> Sed fringilla tempor arcu feugiat</li>
                              <li><i class="fa fa-check"></i> Vivamus semper odio in nibh ultricies</li>
                          </ul>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-4">
                <div class="wp-block base">
          <div class="wp-block-body">
            <h3 class="title c-white">Looking for a job?</h3>
            <p>
              Lorem ipsum dolor sit amet, feugiat delicata liberavisse id cum, no quo maiorum intelleget,
              liber regione eu sit. Mea cu case ludus integre, vide viderer eleifend. Mea cu case ludus integre, vide viderer eleifend. Feugiat delicata liberavisse id cum, no quo maiorum intelleget.
            </p>
            <a href="#" class="btn btn-b-white btn-icon btn-icon-right fa-university">
                                <span>Browse our jobs</span>
                            </a>
          </div>
        </div>
              </div>
            </div>
        </div>
    </div>
</section>

<section class="slice white bb animate-hover-slide-3">
    <div class="wp-section">
        <div class="container">
            <div class="section-title-wr">
             <h3 class="section-title left"><span>Poznaj nas</span></h3>
            </div>
            <div class="row">
              <div class="col-md-6">
                    <div class="wp-block inverse">
                        <div class="figure">
                            <img alt="" src="images/prv/team/team-corporate-5.jpg" class="img-responsive">
                            <div class="figcaption">
                                <ul class="social-icons text-right">
                                  <li class="text pull-left">More on:</li>
                                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <h2>Bartosz Dyja</h2>
                        <p>
                        absolwent indywidualnego programu studiów Politechniki Wrocławskiej oraz University of Hertfordshire, inżynier. Doświadczony menedżer, prowadził  i zarządzał firmami w Polsce i w Wielkiej Brytanii. Od lat zainteresowany finansami wraz z Filipem Bruderem postanowił założyć własną firmę doradczą.
                        </p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="wp-block inverse">
                        <div class="figure">
                            <img alt="" src="images/prv/team/team-corporate-3.jpg" class="img-responsive">
                            <div class="figcaption">
                                <ul class="social-icons text-right">
                                  <li class="text pull-left">More on:</li>
                                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <h2>Filip Bruder</h2>
                        <p>
                        absolwent Wydziału Prawa, Administracji i Ekonomii Uniwersytetu Wrocławskiego oraz studium podyplomowego Gospodarka Nieruchomościami na Politechnice Wrocławskiej. Doświadczenie zawodowe zdobywał w działach sprzedaży firm reklamowych, IT oraz w firmach doradztwa finansowego. W 2010 roku podjął decyzję o zbudowaniu własnej spółki doradczej.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
